openapi: 3.2.0
info:
  title: Deliveroo Catalogue Quotes API
  description: Part of the Deliveroo Retail Platform Suite. The Catalogue API lets grocery and non-food retailers manage a master catalogue of up to 30,000 items per brand, publish product data and availability across retail sites, and override item prices at the site level. Authentication uses an OAuth 2.0 client credentials bearer token.
  version: v1
  x-generated-from: documentation
  x-last-validated: '2026-06-02'
  contact:
    name: Kin Lane
    email: kin@apievangelist.com
servers:
- url: https://api.developers.deliveroo.com
  description: Production
- url: https://api-sandbox.developers.deliveroo.com
  description: Sandbox
security:
- bearerAuth: []
tags:
- name: Quotes
paths:
  /signature/v1/quotes:
    post:
      operationId: createQuote
      summary: Deliveroo Create Quote
      description: Return an estimate and the delivery fee Deliveroo would charge for a given delivery. Creating a quote runs validation steps that surface errors which might otherwise cause order rejection. A quote is valid for 5 minutes, after which a new quote must be created before placing the order.
      tags:
      - Quotes
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QuoteRequest'
            examples:
              CreateQuoteRequestExample:
                summary: Default createQuote request
                x-microcks-default: true
                value:
                  pickup:
                    address: 123 Example Street, London
                    latitude: 1.0
                    longitude: 1.0
                  dropoff:
                    address: 123 Example Street, London
                    latitude: 1.0
                    longitude: 1.0
      responses:
        '200':
          description: The quote estimate and delivery fee.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Quote'
              examples:
                CreateQuote200Example:
                  summary: Default createQuote 200 response
                  x-microcks-default: true
                  value:
                    quote_id: gb-12345
                    fee: 299
        '400':
          description: Bad request.
        '500':
          description: Server error.
components:
  schemas:
    QuoteRequest:
      title: Quote Request
      description: 'Request body for creating a delivery quote. x-schema-source: documentation x-source-url: https://api-docs.deliveroo.com/reference/create-quote'
      type: object
      properties:
        pickup:
          $ref: '#/components/schemas/Location'
        dropoff:
          $ref: '#/components/schemas/Location'
    Location:
      title: Location
      description: A pickup or dropoff location.
      type: object
      properties:
        address:
          type: string
          description: The location address.
          example: 123 Example Street, London
        latitude:
          type: number
          description: The location latitude.
          example: 1.0
        longitude:
          type: number
          description: The location longitude.
          example: 1.0
    Quote:
      title: Quote
      description: A delivery estimate and fee.
      type: object
      properties:
        quote_id:
          type: string
          description: The identifier of the quote, valid for 5 minutes.
          example: gb-12345
        fee:
          type: integer
          description: The delivery fee in minor currency units.
          example: 299
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 client credentials access token obtained from https://auth.developers.deliveroo.com/oauth2/token. Tokens expire after 5 minutes; no refresh tokens are issued.
