openapi: 3.0.3
info:
  title: Deliveroo Site API
  description: >-
    Shared by the Deliveroo Partner Platform Suite and the Signature Suite. The
    Site API lets merchants govern fulfillment availability programmatically,
    including a site's open/close status, operating hours, days off, and
    workload mode. Authentication uses an OAuth 2.0 client credentials bearer
    token.
  version: v1
  x-generated-from: documentation
  x-last-validated: '2026-06-02'
  contact:
    name: Kin Lane
    email: kin@apievangelist.com
servers:
- url: https://api.developers.deliveroo.com
  description: Production
- url: https://api-sandbox.developers.deliveroo.com
  description: Sandbox
tags:
- name: Opening Hours
security:
- bearerAuth: []
paths:
  /site/v1/brands/{brand_id}/sites/{site_id}/opening_hours:
    get:
      operationId: getSiteOpeningHours
      summary: Deliveroo Get Site Opening Hours
      description: Retrieve the configured opening hours for a site.
      tags:
      - Opening Hours
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      parameters:
      - name: brand_id
        in: path
        required: true
        description: The brand identifier.
        schema:
          type: string
        example: gb-12345
      - name: site_id
        in: path
        required: true
        description: The site identifier.
        schema:
          type: string
        example: gb-12345
      responses:
        '200':
          description: The site's opening hours.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpeningHours'
              examples:
                GetSiteOpeningHours200Example:
                  summary: Default getSiteOpeningHours 200 response
                  x-microcks-default: true
                  value:
                    opening_hours:
                    - day_of_week: monday
                      time_periods:
                      - start: '09:00'
                        end: '22:00'
        '400':
          description: Bad request.
        '404':
          description: Site not found.
        '500':
          description: Server error.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: >-
        OAuth 2.0 client credentials access token obtained from
        https://auth.developers.deliveroo.com/oauth2/token. Tokens expire after
        5 minutes; no refresh tokens are issued.
  schemas:
    OpeningHours:
      title: Opening Hours
      description: >-
        A site's weekly opening-hours schedule.
        x-schema-source: documentation
        x-source-url: https://api-docs.deliveroo.com/reference/get-site-opening-hours
      type: object
      properties:
        opening_hours:
          type: array
          description: A list of opening-hours entries per day of week.
          items:
            type: object
            properties:
              day_of_week:
                type: string
                description: The day of week the entry applies to.
                example: monday
              time_periods:
                type: array
                description: The open time periods for the day.
                items:
                  type: object
                  properties:
                    start:
                      type: string
                      description: Period start time (HH:MM).
                      example: '09:00'
                    end:
                      type: string
                      description: Period end time (HH:MM).
                      example: '22:00'
